/* .box {
    border: none;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 2ex;
    width: 550px;
} */

nav{
  background:black;
}
.line{
  display:inline-block;
  text-align: center;
  vertical-align: middle;
}
.center{
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  align-items: center;
  width: 100%;
}

.centerTable{
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  width: 50%
}
.ammbox{
  text-align: center;
  width: 90%;
}

.myNav{
  margin: auto;
  width: 90%
}
h1 {
    font-size:50px
}
ul{  
  padding:0;  
  font-family:Arial, sans serif;  
  font-size:12px;  
}

li{  
  display:inline-block;
}

a{  
  display:block;  
  padding:5px;  
  color:white;  
  text-decoration:none;
}

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    border:1px solid black;
  }

  .internal{
    float: left;
    clear: none;
  }
  .swapDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .inner{
    align-self: center;
  }

  .some-class {
    display: inline-block;
    justify-content: center;
    align-items: center;
    clear: none;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
  }
  
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
  }