/* .box {
    border: none;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 2ex;
    width: 550px;
} */

nav{
  background:black;
}
.line{
  display:inline-block;
  text-align: center;
  vertical-align: middle;
}
.center{
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  align-items: center;
  width: 100%;
}

.centerTable{
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  width: 50%
}
.ammbox{
  text-align: center;
  width: 90%;
}

.myNav{
  margin: auto;
  width: 90%
}
h1 {
    font-size:50px
}
ul{  
  padding:0;  
  font-family:Arial, sans serif;  
  font-size:12px;  
}

li{  
  display:inline-block;
}

a{  
  display:block;  
  padding:5px;  
  color:white;  
  text-decoration:none;
}

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    border:1px solid black;
  }

  .internal{
    float: left;
    clear: none;
  }
  .swapDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .inner{
    align-self: center;
  }

  .some-class {
    display: inline-block;
    justify-content: center;
    align-items: center;
    clear: none;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
  }
  
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 35px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  